html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}
.padded {
    padding-top: 30px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #fff;
    padding-top: 20px;
}
#pdfs {
    margin: 100px;
    max-width: 650px;
}

#logo{
    padding-top: 60px;
    padding-bottom: 20px;
}
.parallax {
    /* The image used */
    background-image: url("/images/money.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.overlay {
    background: white;
    margin: 30px;
    padding: 10px;
    border-radius: 25px;
}

.bumper {
    opacity: 0;
    height: 50px;
}

