<div class="overlay">
<h1>Find Stocks</h1>
<div ng-if="vm.message" class="alert alert-success" role="alert">
  <p>{{ vm.message }}</p>
</div>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>
<form ng-hide="vm.message" name="find" ng-submit="vm.find()">
  <div class="form-group">
    <label for="symbol">Symbol</label>
    <input type="text" class="form-control" id="symbol" placeholder="Symbol" ng-model="vm.symbol" autocapitalize="none">
  </div>
  <button type="submit" class="btn btn-success">find</button>
  
  <div>
    <h4>{{vm.symbol}} is currently priced at {{vm.stockprice | currency}}</h4>
    <h4>Name: {{ vm.stockname }}</h4>
    <h4>Last Sale: {{ vm.stocksale | currency }}</h4>
    <h4>Sector: {{ vm.stocksector }}</h4>
    <h4>Industry: {{ vm.stockindustry }}</h4>
    <h4>IPO Year: {{ vm.stockyear }}</h4>
    <h4>Summary: {{ vm.stocksummary }}</h4>
  </div>
</form>
</div>
<div class="bumper"></div>